.contenido{
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    h1{
        font-size: 30px;
    }
    

    h2, h3{
        text-align: start;
        font-family: "Inter", sans-serif;

    }
    p{
        font-size: 18px;
        text-align: center;
        font-family: "Inter", sans-serif;
    }

    img{
        max-width: 800px;
    }
}