

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    h1{
    font-size: 80px;
}
    p{
        font-size: 30px;
        font-family: "Inter", sans-serif;;
    }
}